<a href="https://colab.research.google.com/github/alexbrunoliveira/Introdu-ao-ao-DataScience/blob/main/Criando_estrutura_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Series

In [ ]:
data =[1,2,3,4,5]

In [ ]:

# convertendo dados em Series
s = pd.Series(data)

In [ ]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# renomeando index
index =['Linha '+ str(i) for i in range(5)]

In [ ]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [ ]:
# apresentando series renomeada
s=pd.Series(data = data,index = index)

In [ ]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [ ]:
# os fortes de criar um dicionário para variável
data={'Linha' +str(i) : i + 1 for i in range(5)}

In [ ]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [ ]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [ ]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [ ]:
s2 = s1 + s
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

##DataFrame

In [ ]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
df1 = pd.DataFrame(data = data)

In [ ]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
index =['Linha' + str(i) for i in range (3)]

In [ ]:
df1 = pd.DataFrame(data = data, index = index)

In [ ]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [ ]:
columns =['coluna' + str(i) for i in range (3)]
columns

['coluna0', 'coluna1', 'coluna2']

In [ ]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [ ]:
df1

        coluna0  coluna1  coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [ ]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [ ]:
df2= pd.DataFrame(data)

In [ ]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [ ]:

#lista de tuplaas
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [ ]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

        coluna0  coluna1  coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [ ]:
df1[df1 > 0] = 'A'
df1

       coluna0 coluna1 coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [ ]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [ ]:
df3[df3 > 0] = 'C'
df3

       coluna0 coluna1 coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

concatenando os dataFrames

In [ ]:
df4 = pd.concat([df1, df2, df3])
df4

       coluna0 coluna1 coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A     NaN     NaN     NaN
Linha1       A       A       A     NaN     NaN     NaN
Linha2       A       A       A     NaN     NaN     NaN
Linha0     NaN     NaN     NaN       B       B       B
Linha1     NaN     NaN     NaN       B       B       B
Linha2     NaN     NaN     NaN       B       B       B
Linha0       C       C       C     NaN     NaN     NaN
Linha1       C       C       C     NaN     NaN     NaN
Linha2       C       C       C     NaN     NaN     NaN

In [ ]:
df4=pd.concat([df1,df2,df3], axis = 1)
df4

       coluna0 coluna1 coluna2 Coluna0 Coluna1 Coluna2 coluna0 coluna1 coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

### Exercício

In [ ]:
In[4]

df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [ ]:

In[2]
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [ ]:
In[3]
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [ ]:
In[1]
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4


#### Nesta aula

Como selecionar uma variável do dataframe (por exemplo, dados['Tipo'] ou dados.Tipo)
Que um dataframe é composto de vários Series
Como eliminar duplicatas (pelo método drop_duplicates())
Como redefinir o index de um dataframe e series (atributo index)
Como concatenar dataframes (lembrando do axis)
Como criar novos dataframes baseados em estruturas de dados Python (lista, dicionários ou tuples)